.item
    border-bottom: thin solid #eee
    display: -webkit-flex
    display: flex
    -webkit-flex-grow: 1 
    flex-grow: 1
    width: 100%

li 
    list-style: none
.content-item
    display: grid
    grid-template-columns:  140px calc(100% - 140px)
    grid-template-rows: 1fr 
    gap: 0px 0px
    height: 100px
    padding: 10px
    width: 100%
.item-thumbnail
    text-align: left
.thumbnail
    width: 100px
.info
    text-align: left
.title
    font-size: 18px
i .fa-truck-moving
    color:green
   

