@use "sass:map"
@import "../../../App.sass"
    

.item
    border-bottom: thin solid map.get($theme-colors, "blue grey")
    display: -webkit-flex
    display: flex
    -webkit-flex-grow: 1 
    flex-grow: 1
    width: 100%

li 
    list-style: none
.content-item
    display: grid
    grid-template-columns:  140px calc(100% - 140px)
    grid-template-rows: 1fr 
    gap: 0px 0px
    height: auto
    padding: 10px
    width: 100%

.content-item .item-thumbnail
    text-align: left

.content-item .thumbnail
    width: 130px

.content-item .info
    text-align: left

.content-item  .title
    font-size: 18px

.content-item .price
    font-weight: bold
    font-size: 24px

.content-item .ic_shipping
    position: relative
    top: 3px
    left: 4px


@media (max-width:  992px) 
    .content-item .price
        font-size: 18px
    .content-item  .title
        font-size: 15px
    .content-item .thumbnail
        width: 110px

@media (min-width: 992px) 
   .description
      width: 66.5%


