@use "sass:map"
@import "../../App.sass"
    
.header
   background-color: map.get($theme-colors, "yellow")
   padding: 10px
   display: grid
   grid-template-columns: 18% 69.8%
   grid-template-rows: 1fr 
   gap: 0px 0px
   overflow:hidden
   height: 50px

.header-logo
   text-align: center

@media (max-width:1024px)
   .header
     grid-template-columns: 18% 68%
  